body{
    font-family: 'Times New Roman', Times, serif;
    background-color:#e0f7fa;
    margin: 0 5px;
    overflow: auto;
}
.logo{
    position: relative;
    top:20px;
    width: 150px;
    height:fit-content;
    border-radius: 80px;
}
.logocontainer{
    position: sticky;
    z-index: 1;
    top: 0;
    display: flex;
    justify-content: space-between;
    background-color: #013A63;
}
header{
    margin-top: 20px;
    margin-bottom: 40px;
    line-height: 0.8px;
    position: relative;
    left:6%;
    color: #fbffff;
    h1{
        font-size: 70px;
    }

}
nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style-type: none;
    float: right;
}
nav ul a{
    color: black;
    text-decoration: none;
    font-weight:bold;
}
nav ul li a:hover{
    color: #247ab8;
    cursor: pointer;
}
.donate-link{
    background-color:paleturquoise;
    padding: 13px 13px;
    box-shadow:0 2px 4px rgba(0, 0, 0, 0.1);

}
.donate-link:focus{
    color: #0c1e84;
}
li{
    padding-right: 25px;
    padding-left: 10px;
    font-size: 20px;
}

.image-contianer {
    position: relative;
    width: 100%;
    height: fit-content;
    margin: 0 auto;
    border-radius: 20px;
}

.overlay {
    position: relative;
}

.image {
    object-fit: cover;
    display: flex;
    justify-self: center;
    width: 100%;
    animation: fadeIn 2s forwards;
    border-radius: 20px;
}

.content {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    backdrop-filter: blur(2px);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
.intro{
    font-size: 1.5em;
    white-space:pre-line;
    text-align: center;
    font-style: italic;
    color: #004d40; 
}
.intro1{
    font-size: 2.5em;
    white-space:pre-line;
    text-align: center;
    color: #fbffff;  
}
.mission-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
.mission-item {
    background-color: #ADD8E6; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.mission-item h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #00796b; 
}

.mission-item p {
    font-size: 1em;
    color: #004d40; 
}
h3{
    font-size: 2em;
    text-align: center;
}
.slideshow-container{
    position: relative;
    max-width: 800px;
    margin: auto;
}
.slide{
    display: none;

    img{
        width: 100%;
        border-radius: 8px;
    }
}
.slidebutton {
    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.404);
    color: white;
    border: none;
    padding: 16px;
    cursor:pointer;
}

.slidebutton:hover {
    background-color: rgba(0, 0, 0, 1);
}
.slidebutton:nth-child(even){
    right:0;
}
form{
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}
input{
    padding: 10px 10px;
}
button{
    margin-top: 5%;
    height: 50px;
}
.list{
    size: 80%;
    font-size: smaller;
}
.design{
    background-color: #4cb9ccc7;
}
form {
    max-width: 500px;
    padding: 20px 40px;
    background: #91cac5;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus {
    background-color: #dae3e7;
    outline: none;
}

button[type="submit"] {
    width: 100%;
    padding: 15px;
    background-color: #0077B6;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #034f7e;
}
footer{
    background-color: #013A63;
    text-align: center;
    margin-top: 10px;
    padding: 5px 5px;
}
